/* Styles go here */

* {
	background-color: white;
}

h1 a {
	text-decoration: none;
}

td {
	border: 1px solid black;
	width: 18px;
	height: 20px;
	text-align: center;
	border-radius: 3px;
	background-color: gray;
    cursor: default;
}

.hidden-cell:hover {
	background-color: lightgray;
}

.revealed-cell {
	background-color: white;
}

.bomb-cell {
	background-color: red;
}

.blocked-cell {
    background-color: green;
}

.highlight-cell {
    opacity: 0.6;
}

.alarm-cell {
    color: red;
    font-weight: bold;
    -webkit-animation: alarming 0.5s alternate 0s 2 ease-in-out;
    -moz-animation: alarming 0.5s alternate 0s 2 ease-in-out;
    -o-animation: alarming 0.5s alternate 0s 2 ease-in-out;
    animation: alarming 0.5s alternate 0s 2 ease-in-out;

}

@-webkit-keyframes alarming {
    0% { 
        -webkit-transform: scale(1);
    } 100% { 
        -webkit-transform: scale(2) rotate(30deg);
    }
}

@-moz-keyframes alarming {
    from { 
        transform: scale(1);
    } to { 
        transform: scale(2) rotate(30deg);
    }
}

@keyframes alarming {
    from { 
        transform: scale(1);
    } to { 
        transform: scale(2) rotate(30deg);
    }
}

#minefield {
	background-color: lightgray;
}

#control-panel {
	margin-top: 5px;
}

button {
	background-color: lightgray;
}

button:hover {
	background-color: gray;
}

.display {
	margin-top: 5px;
}

.display-text{
	background-color: lightgray;
}